@import url('http://www.identifont.com/find?similar=Monotype+Corsiva&q=Go');

.main {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.title {
    text-align: center;
}

h4 {
    text-align: center;
}

.titleStudios {
    text-align: center;
    font-family: 'Monotype Corsiva', sans-serif;
    padding-top: 1em;
    font-size: 3em;

}

.studioDetails {
    text-align: center;
    padding: 1em;
}

.cards {
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.5em;
    padding: 50px;
    font-family: 'Roboto', sans-serif;
}



.card {
    width: 16rem;
    height: 25rem;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    position: relative;
    color: rgb(240, 240, 240);
    box-shadow: 0 10px 30px 5px rgba(0, 0, 0, 0.2);



    .cardImg {
        position: absolute;
        object-fit: cover;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        opacity: 0.9;
        transition: opacity .2s ease-out;
    }

    /* .divH2{
    background: rgb(185, 129, 66);
    height: 50%;
  } */

    .cardH2 {
        font-size: 1.3em;
        text-align: center;
        height: 30%;
        width: 100%;
        background-color: rgba(92, 92, 92, 0.5);
        opacity: 0.9;
        /* position: absolute; */
        /* inset: auto auto 40px 40px; */
        margin: 0;
        padding: 1em 1em 0.5em 1em;
        transition: inset .3s .3s ease-out;
        font-family: 'Poppins', sans-serif;
        font-weight: bolder;
        text-transform: uppercase;
        color: rgb(230, 228, 227);

    }

    .cardH5 {
        font-size: 0.7em;
        text-align: center;
        width: 100%;
        background-color: rgba(92, 92, 92, 0.5);
        opacity: 0.9;
        margin: 0;
        padding-bottom: 1em;
        text-transform: uppercase;
        color: rgb(230, 228, 227);
    }

    .cardP,
    .buttons {
        position: absolute;
        opacity: 0;
        max-width: 80%;
        transition: opacity .3s ease-out;
    }

    .cardP {
        inset: auto auto 80px 30px;
        margin: 0;
        padding-bottom: 10px;
    }

    .buttons {
        inset: auto auto 40px 30px;
        color: inherit;
        text-decoration: none;
        display: flex;
        flex-direction: column;
        margin-top: 10px;
    }

    .btn {
        color: rgb(230, 228, 227);

    }

    .btnEdit {
        opacity: 0;
    }

    &:hover .cardText {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 50%;
        background-color: rgba(92, 92, 92, 0.5);


    }

    /* &:hover .btnEdit {
    color: rgb(240, 240, 240);
    font-weight: bold;
    background-color: #dc0000;
    padding: 3px 6px;
    border-radius: 3px;
    inset: none;
    opacity: 1;
    transition: opacity .5s .1s ease-in;
  } */
    &:hover .cardH2 {
        inset: auto auto 170px 30px;
        transition: inset .3s ease-out;
    }

    &:hover .cardP,
    &:hover .buttons {
        opacity: 1;
        transition: opacity .5s .1s ease-in;
    }

    &:hover .cardImg {
        transition: opacity .3s ease-in;
        opacity: 1;
    }

}





.materialSymbolsOutlined {
    vertical-align: middle;
    padding-left: 0.5em;
}