<footer class="footer">
    <!-- <strong> Най-веселото хоро!</strong> -->
  
    <div>
        
      <strong>Еремия</strong>
      <a href="https://facebook.com/hora.eremia.bg"><img src="../../../assets/5296499_fb_facebook_facebook logo_icon.png"
          width="24" alt="facebook"></a>
      <a href="https://www.instagram.com/eremia_sofia/?hl=bg"><img
          src="../../../assets/5296765_camera_instagram_instagram logo_icon.png" width="24" alt="instagram"></a>
  
      <!-- <strong>Ансамбъл Еремия</strong>
      <a href="https://www.facebook.com/ensemble.eremia.bg/"><img
          src="./public/images/5296499_fb_facebook_facebook logo_icon.png" width="24" alt="facebook"></a>
      <a href="https://www.instagram.com/eremia_ensemble/?hl=bg"><img
          src="./public/images/5296765_camera_instagram_instagram logo_icon.png" width="24" alt="instagram"></a> -->
    </div>
    <div class="footer-contacts">
        <i class="fa-solid fa-phone">0888 111 111</i>
        <i class="fa-regular fa-envelope">eremia@abv.bg</i>
    </div>
    
    <!-- <p> Контакти Тел. 0888 111 111 Имейл eremia@abv.bg</p> -->
    <!-- <p>0888 111 111</p>
    <p>Имейл eremia@abv.bg</p> -->
  </footer>
