@import url('http://www.identifont.com/find?similar=Monotype+Corsiva&q=Go');

.footerTitle {
    font-family:'Monotype Corsiva', sans-serif;
}

.social {
    color: #f30808;
    border-color: #f30808;
}

.socials {
    color: #f30808;
    border-color: #f30808;
}

/* .footer {
    margin-top: 0;
    padding-top: 0;
} */