<header>

    <nav>
      <div >
        <img  src="../../../assets/logo_small_white.png" alt="Your Logo" class="logo">
      </div>
      <ul class="navigation">
        <li><a href="/"></a>Зали</li>
        <li><a href="/add-dance"></a>Ново Хоро</li>
        <li><a href="/events"></a>Събития</li>
        <li><a href="/login"></a>Вход</li>
        <li><a href="/register"></a>Регистрация</li>
        <li><a href="/about"></a>За Нас</li>
      </ul>
    </nav>
  
    <!-- <form action="/search">
          <input type="text">
          <button type="button">Search</button>
      </form> -->
  
  </header>
